<div id="ingredients">

  <h4>Ingredients</h4>
  <span class="font">
  <%= @recipe.ingredients %>
   <span>
</div>

<div class="flcl">
<dl>

  <dt>Step 1</dt>
  <span class="font"><dd><%= @recipe.method_1 %></dd></span>
  <dt>Step 2</dt>
  <span class="font"><dd><%= @recipe.method_2 %></dd></span>
  <dt>Step 3</dt>
  <span class="font"><dd><%= @recipe.method_3 %></dd></span>
  <dt>Step 4</dt>
  <span class="font"><dd><%= @recipe.method_4 %></dd></span>
  <dt>Step 5</dt>
  <span class="font"><dd><%= @recipe.method_5 %></dd></span>

</dl>
</div>

