<div id="ingredients">
  <h4>Ingredients</h4>
  <%= @recipe.ingredients %>
</div>

<div class="flcl">
<dl>
  <dt>Step 1</dt>
  <dd><%= @recipe.method_1 %></dd>
  <dt>Step 2</dt>
  <dd><%= @recipe.method_2 %></dd>
  <dt>Step 3</dt>
  <dd><%= @recipe.method_3 %></dd>
  <dt>Step 4</dt>
  <dd><%= @recipe.method_4 %></dd>
  <dt>Step 5</dt>
  <dd><%= @recipe.method_5 %></dd>

</dl>
</div>
