<%= form_for(@user) do |f| %>



  <p>
    <h3>Register</h3>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= image_submit_tag("link.gif")%>
  </p>
<% end %>
